<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-lg fixed-top">
  <div class="container">

    <a class="navbar-brand" [routerLink]="['/']" routerLinkActive="router-link-active" >Michael's Store</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse flex-row" id="navbarSupportedContent">
      <form class="form-inline my-2  flex-grow-1">
        <div class="input-group w-75">
          <input class="form-control " type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-danger my-2 my-sm-0 search-btn" type="submit">
              <fa-icon [icon]="faSearch" class="fa-lg fa-search"></fa-icon>
            </button>
          </div>
        </div>
      </form>
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" *ngIf="userLogin">
            My Account
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">My Profile</a>
            <a class="dropdown-item" href="#">My orders</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link">Login & Signup</a>
        </li>
      </ul>
      <span class="border border-warning ml-3">
        <button class="btn btn-light">
          <fa-icon [icon]="faShoppingCart" class="fa-lg"></fa-icon>
          <span class="ml-2">6</span>
        </button>
      </span>

    </div>
  </div>
</nav>
