<div class="container my-container">
  <form class="loginForm">
    <h3>Login to continue...</h3>
    <br>
    <div class="form-group">
      <label for="email" class="mb-1">Email</label>
      <input type="text" class="form-control" id="email" placeholder="Email">
    </div>
    <div class="form-group">
      <label for="password" class="mb-1">Password</label>
      <input type="password" class="form-control" id="password" placeholder="Password">
    </div>
    <br>
    <!-- <div style="background-color: black; width: 100%; height: 35px; border-radius: 5px" class="text-center p-0">
      <span style="margin: auto">Login</span>
    </div> -->
    <button class="btn w-100 mybtn" style="background-color: black"><span style="color: white">Login</span></button>
  </form>
</div>
