<div class="row">
  <div class="col-12 text-center">
      <h1 class="header">{{ listName }}</h1>
  </div>
  <div class="card col-12 col-md-4 col-lg-3 border-0 my-1" style="width: 18rem;" *ngFor="let product of products">
    <img [src]="product.imageUrl" class="card-img-top" alt="{{ product.name }}" style="width: 100%;">
    <div class="card-body">
      <h5 class="card-title">{{ product.name }}</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
</div>
